body{
  background-color: rgb(212, 32, 212);
}
.containerUno{
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
}
.container{
  width: 250px;
  text-align: center;
  background-color: rgb(173, 145, 111);
  border: solid 2px coral;
  border-radius: 8px;
  margin-right: auto;
}

h1{
  margin-top: 10px;
  color: greenyellow;
  margin-left: 300px;
}
.titulo{
  font-size: 25px;
  color: blue;
}
.span{
  color: rgb(66, 63, 63);
}
.estado{
  margin-left: auto;
}
.genero{
  margin-right: 8px;
}
.reloj{
  margin-top: 30px;
  border: solid 1px brown;
  border-radius: 1px;
  width: 300px;
  background-color: antiquewhite;
  text-align: center;
  margin-left: 300px;
}
.imagen{
  margin-top: 10px;
  width: 230px;
  border: .8px solid goldenrod;
  border-radius: 100%;
}
.button{
  background-color: aquamarine;
  border-radius: 3px;
  border: solid 1px green;
  width: 338px;
  margin-bottom: 10px;
}
.up{
  background-color: aqua;
  margin-right: 10px;
  font-weight: bold;
}
.down{
  background-color: aqua;
  margin-left: 10px;
  font-weight: bold;
}